*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.left img{
    height: 2rem;
    cursor: pointer;
}

header{
    background-color: white;
    color: #003988;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
    border-bottom: .5px solid rgba(151, 150, 150, 0.303);
}
.right button{
    background-color: white;
    color: #003988;
    padding: 6px;
    width: 90px;
    border: .5px solid #003988;
    border-radius: 25px;
    font-weight: bold;
}
.right button:hover{
    background-color: #003988;
    color: white;
    cursor: pointer;
    
}
.navigator{
    color: #2273BF;
    margin-top: 20px;
    margin-left: 5%;
    font-size: 0.8em;
}

.navigator span{
    color: black;
    font-weight: 500;
}
.navigator i{
    color: grey;
}
.main{
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    
}
.wrapper{
    width: 60%;
}
.d1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.d1-head{
    margin-top: 20px;
    font-size: 2.5rem;
    font-weight: 600;
    color: #003988;
}
.d1 span {
    color: rgb(84, 84, 84);
    font-size: 0.875rem;
    margin-top: 1em;  
    margin-right: 3em;  
}
.d2{
    display: flex;
    margin-top: 30px;
    flex-direction: column;


}
.search{
margin-top: 20px;

}
.search input ,select{
    outline: none;
    padding: 15px;
    width: 250px;
    margin-right: 10px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.423);
}
.search input:hover,.search select:hover{
    background-color: rgba(209, 206, 206, 0.14);
}

.search input:focus ,.search select:focus{
    border-bottom: 1.7px solid #2273BF;
}
.s2 button{
    padding: 10px;
    width: 250px;
    border: none;
    background-color: #003988;
    color: white;
    border-radius: 4px;
}
.s2 button:hover{
    background-color: #003988e2;
    cursor: pointer;
}
.guide{
    margin-top: 50px;
    margin-bottom: 50px;
}
.guide li{
    list-style: decimal;
    margin-bottom: 10px;
}
.faq-section {
        margin-top: 20px;
            margin: 0 auto;
        }
        .faq-section h2 {
            font-size: 1.5em;
            margin-bottom: 10px;
        }
        .faq {
            margin-bottom: 20px;
        }
        .faq h3 {
            font-size: 1.2em;
            color: #2273BF;
            margin-bottom: 5px;
        }
        .faq p {
            margin: 0;
        }


 .modal {
      display: none;
      position: fixed;
      z-index: 1000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.7);
      justify-content: center;
      align-items: center;
    }

    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      border-radius: 10px;
      max-width: 400px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
      text-align: center;
    }

    .close-button {
      float: right;
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;
    }

    .blur {
      filter: blur(5px);
    }     


.notify{
    margin-top: 10px;

}

#notify-email{
            padding: 10px;
    border-radius: 5px;
    border: .8px solid #2273BF;
}
#notify-email::placeholder{
    font-size: 10px;
}

#notify-button{
    padding: 10px;
    background-color: #003988;
    color: white;
    border: none;
    border-radius: 10px;
}    